section {
  .portfolio {
    background-color: #D9D9D9;

    ul {
      list-style-type: none;
      padding: 2rem 0;
      width: 90%;
      max-width: 120rem;
      margin: 4rem auto;
      text-align: center;
    }
  }
}



