li {
  
  .portfolio-element {
    max-width: 118rem;

      .titlecard {
        position: relative;

    background-color: #1D2731;
        margin: 10% 3% 0 3%;
        border: .2rem solid #D9B310;
        border-bottom: none;
        padding: 10% 3%;
        height: 25rem;

        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          border-top: 2rem solid #D9B310;
          border-left: 2rem solid transparent;
          border-right: 2rem solid transparent;
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          z-index: 1;
        }

        h3 {
        font-size: 3.6rem;
        font-weight: bold;
        color: #D9B310;
        }
        span {
          padding-top: 2rem;
          max-width: 28rem;
          margin: 0 auto;
        }
      }
      .photo {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30rem;
        
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: -webkit-calc(94% - 0.4rem);
          width: calc(94% - 0.4rem);
          height: -webkit-calc(90% - 0.2rem);
          height: calc(90% - 0.2rem);
          margin: 0 3% 10% 3%;
          border: 0.2rem solid #D9B310;
          border-top: 0;
      }
    }
  }
}